.home_container{
   display: flex;
   flex-flow: column;
   
   align-items: center;
}

.home_img{
    margin: 2em 0;
    width: 50%;
    border-radius: 10px;
    opacity: 90%;
    box-shadow: .5em .5em .5em black;
    
}